
@{
    ViewBag.Title = "ExpertRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_Breadcrumbs");}

<div id="content">
    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-sm-9">

                <p class="text-muted lead">Выберите заказчика из имеющихся предложений. Для быстрого поиска вы можете воспользоваться фильтрацией по различным параметрам.</p>

                <!-- *** CONTENT ***-->
                <form id="job-main-form" method="get" action="#" class="job-main-form">
                    <div class="controls">
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2">
                                <div class="form-group">
                                    <label for="profession">Необходимая услуга</label>
                                    <input type="text" id="profession" name="profession" placeholder="Услуга, которую я могу оказать" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-5 col-lg-4">
                                <div class="form-group">
                                    <label for="location">Местоположение</label>
                                    <input type="text" id="location" name="location" placeholder="Поиск по месту расположения" value="Симферополь" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" name="name" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
               
                <h3 class="heading">Более <span class="accent">40</span> заказчиков ищут специалиста</h3>
                    <div class="job-listing job-listing--featured ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/airbnb.png")" alt="AirBnb " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Требуется дизайнер</a></h4>
                                        <p class="job__company">

                                            Артем Троицкий
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Симферополь</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Размещено 5 дней назад</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранное" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing  ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/google.png")" alt="Google " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Front End developer</a></h4>
                                        <p class="job__company">

                                            Google
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Palo Alto</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Posted 10 days ago</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing  ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/dropbox.png")" alt="Dropbox " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Webdesigner</a></h4>
                                        <p class="job__company">

                                            Dropbox
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>San Francisco</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Posted 5 days ago</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing  ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/amazon.png")" alt="Amazon " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Team Leader</a></h4>
                                        <p class="job__company">

                                            Amazon
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Palo Alto</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Posted 10 days ago</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing  ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/amazon.png")" alt="Amazon " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Software Engineer</a></h4>
                                        <p class="job__company">

                                            Amazon
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Palo Alto</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Posted 14 days ago</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing  ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/google.png")" alt="Google " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Front End developer</a></h4>
                                        <p class="job__company">

                                            Google
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Palo Alto</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Posted 10 days ago</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing  ">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/dropbox.png")" alt="Dropbox " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Webdesigner</a></h4>
                                        <p class="job__company">

                                            Dropbox
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>San Francisco</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Posted 5 days ago</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="job-listing  job-listing--last">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <div class="col-xs-2"><img src="@Url.Content("~/Content/img/amazon.png")" alt="Amazon " class="img-responsive"></div>
                                    <div class="col-xs-10">
                                        <h4 class="job__title"><a href="detail.html">Team Leader</a></h4>
                                        <p class="job__company">

                                            Amazon
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>Palo Alto</div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3">
                                <p>Posted 10 days ago</p>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-1">
                                <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="pages">
                        <p class="load-more"> <a href="#" class="btn btn-primary"><i class="fa fa-chevron-down"></i> Load more</a></p>
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"> <a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>

                <!-- *** END CONTENT ***-->

                <div class="row">

                    <div class="col-md-12 banner">
                        <a href="#">
                            <img src="@Url.Content("~/Content/img/banner2.jpg")" alt="" class="img-responsive">
                        </a>
                    </div>

                </div>

            </div>
            <!-- /.col-md-9 -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
            _________________________________________________________ -->

            <div class="col-sm-3">

                <!-- *** MENUS AND FILTERS ***
                _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Виды работ</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li>
                                <a href="shop-category.html">Юридические услуги <span class="badge pull-right">42</span></a>
                                <ul>
                                    <li>
                                        <a href="shop-category.html">T-shirts</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Shirts</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Pants</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Accessories</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="shop-category.html">Консультации  <span class="badge pull-right">123</span></a>
                                <ul>
                                    <li>
                                        <a href="shop-category.html">T-shirts</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Skirts</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Pants</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Accessories</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="shop-category.html">Другие виды услуг  <span class="badge pull-right">11</span></a>
                                <ul>
                                    <li>
                                        <a href="shop-category.html">T-shirts</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Skirts</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Pants</a>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Accessories</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Сложность работы</h3>
                        <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Armani (10)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Versace (12)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Carlo Bruni (15)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Jack Honey (14)
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                        </form>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title clearfix">Уровень оплаты</h3>
                        <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour white"></span> White (14)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour green"></span> Green (20)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> <span class="colour red"></span> Red (10)
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                        </form>

                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END *** -->

                <div class="banner">
                    <a href="shop-category.html">
                        <img src="@Url.Content("~/Content/img/banner.jpg")" alt="sales 2014" class="img-responsive">
                    </a>
                </div>
                <!-- /.banner -->

            </div>
            <!-- /.col-md-3 -->
            <!-- *** RIGHT COLUMN END *** -->

        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->